<section class="section-authorization popup-parent">
	<div class="container">
		<div class="authorization">
			<h2 class="title authorization__title">Авторизация</h2>
			<form id="form-login" class="form-authorization form input-wrap" action="#" method="post">
				<div class="input-bl">
					<i class="input-bl__fico fico fico-e-mail"></i>
					<input name="login-name" type="e-mail" placeholder="E-mail">
				</div>
				<div class="input-bl">
					<i class="input-bl__fico fico fico-key"></i>
					<input name="login-password" type="password" placeholder="Пароль">
				</div>
				<div class="form-authorization__link">
					<a class="js-open-popup" href="#restore" data-popup="restore">Я не помню пароль</a>
				</div>

				<button type="submit" class="form-authorization__btn btn btn-form btn-form_dark js-success"><span>Войти</span></button>
			</form>
			<div class="authorization__link">
				<a href="registration.html" >Регистрация</a>
			</div>
		</div>
	</div>
</section>