<div  class="navbar">
	<div class="navbar-contain container">
		<a href="#" class="navbar__logo">
			<img src="img/svg/logo.svg" alt="logo">
		</a>
		<ul id="fixed-nav" class="navbar-menu">
			<li class="navbar__item"><a href="#">Рекламодателям</a></li>
			<li class="navbar__item"><a href="#">Офферы</a></li>
			<li class="navbar__item"><a href="#">О компании</a></li>
			<li class="navbar__item"><a href="#">Новости</a></li>
		</ul>
		<div class="navbar-right">
			<a href="index.html" class="navbar__btn btn btn-entrance"><span>Вход</span></a>
			<div class="navbar__langs langs js-langs">
				<div class="langs-list">
					<span class="langs-list__item">RU</span>
					<span class="langs-list__item">EN</span>
				</div>
				<i class="langs__ico"></i>
			</div>
		</div>
	</div>
</div>