<section id="restore" class="section-restore popup-parent">
		<div class="restore-bl">
			<div class="restore">
				<div class="restore__close js-popup-close"></div>
				<div class="restore-wrap">
					<h2 class="restore__title title">Не проблема!</h2>
					<p class="restore__text">Укажи e-mail, с которого была выполнена регистрация, и мы отправим на него ссылку для&nbsp;смены пароля.</p>
					<form id="form-restore" action="#" method="post" class="form-restore form input-wrap">
						<div class="form-restore__item input-bl">
							<i class="input-bl__fico fico fico-e-mail"></i>
							<input name='restore-email' type="e-mail" placeholder="E-mail">
						</div>
						<script src="https://www.google.com/recaptcha/api.js" async defer></script>
						<div class="form-restore__captcha captcha-error">
							<div class="g-recaptcha"  data-sitekey="6LdTa6MUAAAAAPK3v74IHFMRY76xIIaIES7Q9sWG"></div>
						</div>
						<button type="submit" class="btn btn-form btn-form_light js-success" data-popup="success"><span>Напомнить</span></button>

					</form>
				</div>
			</div>
		</div>
</section>