<section id="success" class="section-success">
		<div class="success-bl">
			<div class="success">
				<div class="success-wrap">
					<div>
						<h2 class="success__title title">Регистрация прошла успешно!</h2>
						<p class="success__text">На указанный e-mail <br> мы выслали письмо с ссылкой для&nbsp;подтверждения электронной почты. Перейдите по ней, чтобы подтвердить регистрацию аккаунта.</p>

							<a href="index.html" class="success__btn btn btn-form btn-form_light"><span>Ok</span></a>

					</div>
				</div>
			</div>	
		</div>
</section>